// ==========================================================================
// Components - Button like
// ==========================================================================


.c-button-like
  color red
