<template>
  <div>
    <h1>Im a Database 2</h1>
  </div>
</template>

<script>
  export default {
    name: 'database',
    components: {},
    props: {},
    data() { return {} },
    mounted() {},
    methods: {},
    computed: {},
    filters: {}
  }
</script>

<style>

</style>
