.container.is-fluid.mt-2
  .columns.is-centered
    .column.is-narrow
      a(href='/pages/index.html')
        svg(width='100' height='50')
          g
            rect(width='100' height='50' style='fill:lightblue;stroke-width:3;stroke:rgb(0,0,0)')
            text(x='15' y='30' fill='black') logo here

  .columns.is-centered
    .column.is-narrow
      .buttons
        a.button(href='/pages/index.html') Home
        a.button(href='/pages/about.html') About

  hr

  .columns.is-centered
    .column.is-narrow
      div(data-storage-tree)
