.container-fluid
  .row
    .col
      .d-flex.justify-content-center.mt-3.mb-3
        a(href='/pages/index.html')
          svg(width='100' height='50')
            g
              rect(width='100' height='50' style='fill:lightblue;stroke-width:3;stroke:rgb(0,0,0)')
              text(x='15' y='30' fill='black') logo here

      .d-flex.justify-content-center.mb-3
        .btn-group(role='group' aria-label='Links')
          a.btn.btn-secondary(href='/pages/index.html') Home
          a.btn.btn-secondary(href='/pages/about.html') About

  //- Storage Tree
  .row
    .col
      div
        form
          .form-group.text-center
            label(for='currentDomain') Current domain:
            select#currentDomain.form-control
              option(value='-1') (All domains)
              option(value='150') localhost:8443
              option(value='381') google.com
              option(value='496') yahoo.com

        details(open)
          summary Storage

          details(open)
            summary Database one

            details(open)
              summary Table one

              details
                summary Index one

              details
                summary Index one

        hr

        storage-tree
