.container.is-fluid.mt-2
  .columns.is-centered
    .column.is-narrow
      a(href='/pages/index.html')
        img(src="/images/IndexedDB-My-Extension-Logo.png").image.mt-4

  .columns.is-centered
    .column.is-narrow
      .buttons
        a.button(href='/pages/index.html') Home
        a.button(href='/pages/about.html') About

  hr

  .columns.is-centered
    .column.is-narrow
      div(data-storage-tree)
