// ==========================================================================
// Alert
// ==========================================================================

.alert
  align-items center
  border-radius 2px
  display flex
  font-size 1.1em
  justify-content space-between
  margin .5em 0
  padding .5em 1em


  &-heading
  &-body
    margin 0

  &-primary
    background-color lighten($color-blue-light, 65%)
    color darken($color-blue-light, 70%)

  &-success
    background-color lighten($color-green-light, 65%)
    color darken($color-green-light, 70%)

  &-error
    background-color lighten($color-red-light, 65%)
    color darken($color-red-light, 70%)

  &-warning
    background-color lighten($color-yellow-light, 65%)
    color darken($color-yellow-light, 70%)

  &-secondary
    background-color lighten($color-silver-light, 65%)
    color darken($color-silver-light, 70%)
