// ==========================================================================
// Layout
// ==========================================================================

.l-container
  // Layout
  display grid
  grid-template-columns 2fr 8fr
  grid-template-rows auto

  // Box
  height 100%

.l-masthead
  // Layout
  grid-column 2
  grid-row auto

.l-aside
  // Layout
  grid-column 1
  grid-row 1/2

  // Color
  background-color $color-white-dark
  border-right 1px solid $color-silver

  // Box
  overflow-x scroll

.l-main
  // Layout
  grid-column 2
  grid-row 1

