// ==========================================================================
// Layout
// ==========================================================================

.l-container
  // Layout
  display grid
  grid-template-columns 2fr 8fr
  grid-template-rows auto
  grid-gap 5px

  // Box
  height 100%

.l-masthead
  // Layout
  grid-column 2
  grid-row auto

.l-aside
  // Layout
  grid-column 1
  grid-row 1/2

  // Color
  background-color var(--aside-bg-color)

  // Box
  overflow-x scroll

.l-main
  // Layout
  grid-column 2
  grid-row 1
