// ==========================================================================
// Reboot
// ==========================================================================

body
  font-size $font-size-base
  margin 0
  width 100%
  height 100vh
  position relative

  .platform-linux
    font-family $font-family-platform-linux
    color $color-blue-dark

  .platform-mac
    font-family $font-family-platform-mac
    color $color-blue-dark

  .platform-windows
    font-family $font-family-platform-windows
    color $color-black


h1, h2, h3, h4, h5, h6
  font-weight $headings-font-weight

h1
  font-size $headings-font-base * 1.3
h2
  font-size $headings-font-base * 1.2
h3
  font-size $headings-font-base * 1.1
h4
  font-size $headings-font-base * 1.05
h5
  font-size $headings-font-base * 1.025
h6
  font-size $headings-font-base

ul, ol
  list-style-type none

input, button
  &:focus
    outline none

input[type='search'], input[type='text']
  border 0

  &:focus
    box-shadow 0 0 0 1px $color-blue
