<template>
  <div>
    <h1>Testeee</h1>

    <router-link to="/object-store/DB/1/NAME">Object Store</router-link> <hr>
    <router-link to="/object-store/DB/1/NAME/add" append>Object Store add</router-link> <hr>
    <router-link to="/object-store/DB/1/NAME/content" append>Object Store content</router-link> <hr>
    <router-link to="/object-store/DB/1/NAME/edit" append>Object Store edit</router-link> <hr>
  </div>
</template>
