// ==========================================================================
// Devtools - Layout
// ==========================================================================


.l-container
  // Layout
  display grid
  grid-template-columns 2fr 8fr
  grid-template-rows 100vh

  // Box
  height 100%

.l-masthead
  // Layout
  grid-column 2
  grid-row auto

.l-aside
  // Layout
  grid-column 1
  grid-row 1/2

  // Color
  background-color lightgray
  border-right 1px solid silver

  // Box
  // overflow-x scroll

.l-main
  // Layout
  grid-column 2
  grid-row 1
