// ==========================================================================
// Grid
// ==========================================================================

// Grid system
// ==========================================================================
$grid-template-columns-default ?= 12

.l-grid
  display grid
  grid-template-columns grid-columns-values($grid-template-columns-default)

  >
    *
      padding to-em(2px 5px)

for media in $medias
  for column in $columns
    .l-grid--{media}-{column}
      if (media == 'xs')
        grid-template-columns grid-columns-values(column)
      else
        @media (min-width $grid-breakpoints[media])
          grid-template-columns grid-columns-values(column)
