// ==========================================================================
// Button
// ==========================================================================


.btn
  &-primary
  &-success
  &-error
  &-warning
  &-secondary
    color white

  &-primary
    background-color var(--button-color-primary)

  &-success
    background-color var(--button-color-success)

  &-error
    background-color var(--button-color-error)

  &-warning
    background-color var(--button-color-warning)

  &-secondary
    background-color var(--button-color-secondary)

  // Outline
  // ============================================
  &-outline-secondary
  &-outline-primary
  &-outline-success
  &-outline-error
  &-outline-warning
  &-outline-secondary
    background-color transparent
    border-style solid
    border-width 1px

    &:hover
    &:active
    &:focus
      color var(--color-white)

  &-outline-primary
    color var(--button-color-primary)
    border-color var(--button-color-primary)

    &:hover
    &:active
    &:focus
      @extend .btn-primary

  &-outline-success
    color var(--button-color-success)
    border-color var(--button-color-success)

    &:hover
    &:active
    &:focus
      @extend .btn-success

  &-outline-error
    color var(--button-color-error)
    border-color var(--button-color-error)

    &:hover
    &:active
    &:focus
      @extend .btn-error

  &-outline-warning
    color var(--button-color-warning)
    border-color var(--button-color-warning)

    &:hover
    &:active
    &:focus
      @extend .btn-warning
      color var(--color-black)

  &-outline-secondary
    color var(--button-color-secondary)
    border-color var(--button-color-secondary)

    &:hover
    &:active
    &:focus
      @extend .btn-secondary

