// ==========================================================================
// Button
// ==========================================================================

.btn
  &-primary
  &-success
  &-error
  &-warning
  &-secondary
    color white

  &-primary
    background-color #007bff

  &-success
    background-color #1e7e34

  &-error
    background-color #bd2130

  &-warning
    background-color #ffc107

  &-secondary
    background-color #545b62
