// ==========================================================================
// Expander
// ==========================================================================


.c-expander
  // Color
  color var(--expander-color)

  // Box
  padding to-em(0 5px)

  h4
    margin 0
    padding to-em(10px 0 5px 0)

    &:not(:first-child)
      border-top 1px solid $color-silver
      margin to-em(10px 0 0 0)

  ul
    padding-inline-start to-em(10px)

  li
    padding to-em(6px 0)

    ul
      padding-inline-start to-em(12px)

  & > ul
    margin to-em(0 0 10px 0)

  &__toggle-action
    background-color transparent
    padding 0
    border 0

    &::before
      color var(--expander-color)
      content '\2BC8'
      display inline-block

    &--active
      &::before
        content '\2BC6'
