// ==========================================================================
// Object Store Actions
// ==========================================================================

.c-object-store-actions
  background-color var(--aside-bg-color)

  .pure-button
    background rgba(0,0,0,0)

    &:hover
    &:active
    &:focus
      background rgba(0,0,0,0)
      box-shadow none

    &:active
      transform scale(0.7)

  .fa-caret-left
  .fa-caret-right
    transform scale(1.5)
