// ==========================================================================
// Object Store Actions
// ==========================================================================

.c-object-store-actions
  background-color var(--aside-bg-color)

  .pure-button
    background rgba(0,0,0,0)

    &:hover
    &:active
    &:focus
      font-weight bold
      background rgba(0,0,0,0)
