// ==========================================================================
// Table
// ==========================================================================

.c-table
  &-no-border
    border 0

    td
      border 0
