// ==========================================================================
// Table
// ==========================================================================

.c-table
  &-no-border
    border 0

    td
      border 0

  // Chrome devtools
  // ==========================================================================
  &-theme-chrome
    font-size to-em(12px)
    border-left-width 0
    width 100%

    thead
    tbody
      tr
        td
          &:nth-of-type(1)
          &:nth-of-type(2)
            text-align center
            width 1px
            white-space nowrap

          &:nth-of-type(1)
            border-left-width 0

          &:nth-of-type(3)
            padding-left 10px
            width 200px
            white-space nowrap

    thead
      background-color $color-white-dark
      border-bottom 1px solid #cbcbcb

      span
        color $color-red-light
        font-size 1.1em

      tr
        td
          border-color $color-white
          box-shadow 1px 0 0 $color-silver-dark
          padding .3em 1em

          &:nth-of-type(1)
            border-left-width 0

    tbody
      tr
        &:nth-child(even)
          background-color #f2f7fd

        &.active
          background-color #cdddf5

      td
        border-color $color-white
        box-shadow 1px 0 0 $color-silver-dark


// Theme linux
// ==========================================================================
.platform-linux
  .c-table-theme-chrome
    thead
      td
        color var(--platform-linux-color)
        text-shadow 1px 0 0 $color-white
