// ==========================================================================
// Table
// ==========================================================================

.c-table
  &-no-border
    border 0

    td
      border 0

  &-theme-phpmyadmin
    thead
      background var(--table-theme-bg-color)

    th
      text-shadow 0 1px 0 var(--color-white)
