// ==========================================================================
// Utils
// ==========================================================================


// HR vertical
// ==========================================================================
.c-diviser-vertical
  background rgba(0,0,0,.3)
  box-shadow 1px 0 0 var(--color-white)
  display inline-block
  height to-em(12px)
  padding 0
  vertical-align middle
  width to-em(1px)

