// ==========================================================================
// Mixins
// ==========================================================================

grid-columns-values(columns = 12, width = 100%)
  v = ''
  for column in 1..columns
    v += ' ' + width / columns
  v = unquote(v)


to-em(values, base = $font-size-base)
  $r = ''
  for value in values
    $r += ' ' + unit(value / base, em)
    $r = unquote($r)
