// ==========================================================================
// Mixins
// ==========================================================================

grid-columns-values(columns = 12, width = 100%)
  v = ''
  for column in 1..columns
    v += ' ' + width / columns
  v = unquote(v)
