// ==========================================================================
// Elements - Page
// ==========================================================================

body
  font-size $font-size-base

.platform-linux
  font-family $platform-linux-font-family
  // color $platform-linux-color

.platform-mac
  font-family $platform-mac-font-family
  // color $platform-mac-color

.platform-windows
  font-family $platform-windows-font-family
  // color $platform-windows-color
