.layout-container
  display: grid
  grid-template-columns: 1.5fr 8.5fr

.layout-aside
  grid-column: 1

.layout-main
  grid-column: 2

// details > details
//   margin-left: 20px

.sidebar
  background-color: silver
  height: 100vh
  overflow: auto
