// ==========================================================================
// Functions
// ==========================================================================

to-em(values, base = $font-size-base)
  $r = ''
  for value in values
    $r += ' ' + unit(value / base, em)
    $r = unquote($r)
