// ==========================================================================
// Variables
// ==========================================================================


// Type
$font-size-base               ?= 13px
$font-family-platform-linux   ?= Roboto, Ubuntu, Arial, sans-serif
$font-family-platform-mac     ?= '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif
$font-family-platform-windows ?= 'Segoe UI', Tahoma, sans-serif

// Color
$color-white       ?= #fff
$color-blue        ?= #1a73e8
$color-blue-dark   ?= #303942
$color-black       ?= #222
$color-silver      ?= #ccc
$color-silver-dark ?= #5a5a5a
$color-white-dark  ?= #f3f3f3

$color-blue-light     ?= #007bff
$color-green-light     ?= #1e7e34
$color-red-light       ?= #bd2130
$color-yellow-light     ?= #ffc107
$color-silver-light   ?= #545b62

$color-bg-phpmyadmin ?= linear-gradient(#fff, #ccc)

// Headings
$headings-font-base   ?= $font-size-base
$headings-font-weight ?= 400

:root {
  --body-font-size $font-size-base

  // Colors
  --color-white         $color-white
  --color-blue          $color-blue
  --color-blue-dark     $color-blue-dark
  --color-black         $color-black
  --color-silver        $color-silver
  --color-silver-dark   $color-silver-dark
  --color-white-dark    $color-white-dark
  --color-blue-light    $color-blue-light
  --color-green-light   $color-green-light
  --color-red-light     $color-red-light
  --color-yellow-light  $color-yellow-light
  --color-silver-light  $color-silver-light

  --color-bg-phpmyadmin $color-bg-phpmyadmin

  // Headings
  --h1-font-size $headings-font-base * 1.3
  --h2-font-size $headings-font-base * 1.2
  --h3-font-size $headings-font-base * 1.1
  --h4-font-size $headings-font-base * 1.05
  --h5-font-size $headings-font-base * 1.025
  --h6-font-size $headings-font-base
  --headings-font-weight $headings-font-weight

  // Platforms
  --platform-linux-font-family $font-family-platform-linux
  --platform-mac-font-family $font-family-platform-mac
  --platform-windows-font-family $font-family-platform-windows
  --platform-linux-color var(--color-blue-dark)
  --platform-mac-color var(--color-blue-dark)
  --platform-windows-color var(--color-black)

  // Aside
  --aside-bg-color var(--color-white-dark)

  // Expander
  --expander-color var(--color-silver-dark)

  // Table
  --table-theme-bg-color var(--color-bg-phpmyadmin)

  // Buttons
  --button-color-primary    var(--color-blue-light)
  --button-color-success    var(--color-green-light)
  --button-color-error      var(--color-red-light)
  --button-color-warning    var(--color-yellow-light)
  --button-color-secondary  var(--color-silver-light)
}
