// ==========================================================================
// Variables
// ==========================================================================


// Type
$font-size-base               ?= 13px // 13px, assumes the browser default, typically `16px`
$font-family-platform-linux   ?= Roboto, Ubuntu, Arial, sans-serif
$font-family-platform-mac     ?= '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif
$font-family-platform-windows ?= 'Segoe UI', Tahoma, sans-serif

// Color
$color-blue        ?= #1a73e8
$color-blue-dark   ?= #303942
$color-black       ?= #222
$color-silver-dark ?= #5a5a5a
$color-white-dark  ?= #f3f3f3

// Headings
$headings-font-base   ?= $font-size-base
$headings-font-weight ?= 400
