extends ../../layout/page.pug

block modals
  include ../partials/modals/import.pug

block content
  .container-fluid
    .block
      .row
        .col
          h3 Create databases

    div(data-database-create)
