extends ../../layout/page.pug

//- block modals
//-   include ./import.pug

block content
  .container.is-fluid.mt-2
    h2.title.is-4 Create databases

    .columns
      .column
        div(data-database-create)
