doctype html
html
  head
    title #{title}

    if isProduction
      link(href='/pages/static/build.css' rel='stylesheet')

  body
    div.container-fluid
      div.row
        aside.col-4
          block aside

        main
          block content

    if isProduction
      script(src='/pages/static/build.js')
