doctype html
html
  head
    title #{title}

    if isProduction
      link(href='/pages/static/build.css' rel='stylesheet')

  body
    //- div.container-fluid
    //-   div.row.flex-xl-nowrap
    //-     aside.col-xl-2.col-md-2.sidebar
    //-       block aside
    //-         include ../pages/partials/aside.pug

    //-     main.col-xl-10.col-md-10.pl-0.pr-0
    //-       block breadcrumb
    //-         include ../pages/partials/breadcrumb.pug

    //-       .container-fluid
    //-         .row
    //-          .col-xl-12
    //-             block content
    .l-container
      aside.l-aside
        block aside
          include ../pages/partials/aside.pug

      main.l-main main


    if isProduction
      script(src='/pages/static/build.js')
