doctype html
html
  head
    title #{title}

    link(href='/pages/static/default.css' rel='stylesheet')

  body
    block modals

    nav.navbar.navbar-expand-md.navbar-light
      include ../pages/partials/navbar.pug

    .page-content
      sidebar.sidebar.sidebar-dark.sidebar-main.sidebar-expand-md
        block aside
          include ../pages/partials/aside.pug

      main.content-wrapper
        block content

    script(src='/pages/static/build.js')
