doctype html
html
  head
    title #{title}

    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/pages/static/build.css' rel='stylesheet')

  body
    block modals

    .layout-container
      header.layout-header
        block breadcrumb
          include ../pages/partials/breadcrumb.pug

        block navigation

      aside.layout-aside
        block aside
          include ../pages/partials/aside.pug

      main.layout-main

        block content

    script(src='/pages/static/build.js')
