doctype html
html
  head
    title #{title}

    if isProduction
      link(href='/pages/static/build.css' rel='stylesheet')

  body
    .layout-container
      aside.layout-aside
        .sidebar.sticky-top
          block aside
            include ../pages/partials/aside.pug

      main.layout-main
        .sticky-top
          block breadcrumb
            include ../pages/partials/breadcrumb.pug

        block content


    if isProduction
      script(src='/pages/static/build.js')
