doctype html
html
  head
    title #{title}

    link(href='/pages/static/build.css' rel='stylesheet')

  body
    block modals

    .layout-container
      header.layout-header
        .has-background-grey-light
          p header here

      aside.layout-aside
        .has-background-grey-light
          block aside
            include ../pages/partials/aside.pug

      main.layout-main
        block breadcrumb
          include ../pages/partials/breadcrumb.pug

        block content

    script(src='/pages/static/build.js')
