// ==========================================================================
// Package purecss
// ==========================================================================

$path_purecss ?= '~purecss/build/'

@import $path_purecss + 'base.css'
@import $path_purecss + 'buttons.css'
@import $path_purecss + 'forms.css'
@import $path_purecss + 'menus.css'
@import $path_purecss + 'tables.css'

